@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --clr-soft-blue: hsl(231, 69%, 60%);
    --clr-soft-red: hsl(0, 94%, 66%);
    --clr-neutral-blue: hsl(229, 8%, 60%);
    --clr-neutral-dark-blue: hsl(229, 31%, 21%);
    
    --ff-primary: "Rubik", sans-serif;
    
    /* font sizes */
    /* scale for 1.2 */
    --fs-1: 1rem;
    --fs-2: 1.2rem;
    --fs-3: 1.44rem;
    --fs-4: 1.72rem;
    --fs-5: 2.074rem;
    --fs-6: 2.488rem;

    --fs-body: var(--fs2);

    --fw-400: 400;
    --fw-500: 500;

    --sizes-100: 1rem;
}

@media (min-width: 600px) {
    :root {
        /* scale for 1.33 */
        --fs-1: 1rem;
        --fs-2: 1.333rem;
        --fs-3: 1.777rem;
        --fs-4: 2.369rem;
        --fs-5: 3.157rem;
        --fs-6: 4.209rem;

        --fs-body: var(--fs2);
    }
}


/* Modern CSS Reset 29/11/2022 Josh Comeau*/
/* use a more-intuitive box-sizing model.*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* remove default margin and padding */
* {
    margin: 0;
    padding: 0; /*added by myself*/
    font: inherit;
}

/* remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* allow percentage-based heights in the application */
html, body {
    min-height: 100%;
    overflow-x: hidden;
}

/* typographic tweaks 1.accessible line-height 2.improve text rendering */
body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* improve media defaults */
img, 
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* GENERAL SETTINGS */
body {
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
}

/* TYPOGRAPHY */
h1 {
    font-size: var(--fs-6);
    font-weight: var(--fw-500);
}

h2 {
    font-size: var(--fs-5);
}

h3 {
    font-size: var(--fs-3);
}

h4 {
    font-size: var(--fs-2);
}

h5 {
    font-size: var(--fs-2);
}

h6 {
    font-size: var(--fs-1);
}

/* BUTTONS */
button {
    padding: .5rem 1rem;
    background-color: transparent;
    border: none;
}

.btn__login {
    background-color: var(--clr-soft-red);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 4px;
}

/* HAMBURGER MENU */

/* HEADER */

/* FOOTER */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* UTILITIES */
.wrapper {
    max-width: 1100px;
    margin-inline: auto;;
}